.game-main {
    width: 100%;
    text-align: center;
    .game-score {
        font-size: 24px;
        font-weight: 700;
        color: #d53a9d;
        em {
            color: #ffc051;
            margin-left: 10px;
        }
    }
    .game-board {
        margin: 20px auto;
        border: 10px solid black;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d );
    }
}