.game-footer {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .how-to-play-actions-box {
        .how-to-play-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #d53a9d;
        }
        .how-to-play-container {
            width: 100%;
            display: flex;
            .how-to-play-actions-list {
                width: 100%;
                list-style: none;
                li {
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: #743ad5;
                        line-height: 20px;
                        &:last-child {
                            font-weight: 500;
                            font-style: italic;
                            color: #d53a9d;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}